.but{
    margin-left: 50px;
}

.do{
    margin-left: 50px;
}

#comme{
    margin: 20px;
    margin-left: 50px;
    margin-right: 400px;
}

#submit{
    margin: 20px;
    margin-left: 500px;
}

#le1{
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    margin-left: 50px;
    background-color: #ebf270;
    padding:50px
    
    
    
}

#le2{
    text-align: center;
    border-radius: 15px;
    margin: 20px;
    background-color: #ebf270;
    padding: 50px;
}

.fed{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    background-color: white;
    text-align: left;
}

.nam{
    background-color: white;
    text-align: left;
}

#rec{
    margin: 30px;
}

#red{
    margin: 20px;
}

.nam{
    background-color: white;
    text-align: left;
    margin-left: 45px;
}

#rec{
    margin: 30px;
}

#red{
    margin: 20px;
}

.but{
    margin-left: 50px;
}

.do{
    margin-left: 50px;
}

#comme{
    margin: 20px;
    margin-left: 50px;
    margin-right: 400px;
}

#submit{
    margin: 20px;
    margin-left: 500px;
}

#red{
    margin: 40px;
   
}